20251206-0845-21.0433858.mp4
buffering.png
download.png
folder.gif
git.png
github.png
greentick.png
image.png
important.png
link.png
operating_system.png
puzzle_piece.png
Screen Recording 2025-12-06 135526.mp4
Screen Recording 2025-12-06 143902.mp4
start-button.png
windows11.png
wrench.gif